.sideMenu {
	position: absolute;
	height: 100vh;
	width: 100%;
	max-width: 400px;
	background-color: rgba(255, 255, 255, 0.938);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	top: 0;
	right: -50%;
	transition: all 0.75s ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	.react-icon {
		position: absolute;
		top: 10px;
		left: 10px;
		font-size: 24px;
		cursor: pointer;
		color: red;
	}
	h1 {
		padding: 20px 0px;
	}
	.together {
		display: flex;
		align-items: center;
		gap: 10px;
		.text {
			font-size: 18px;
		}
		.balance {
			color: rgb(0, 255, 115);
			font-size: 28px;
		}
	}
	.pages {
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		h2 {
			cursor: pointer;
			text-align: center;
			width: 100%;
			border-bottom: 2px solid black;
			font-size: 28px;
			transition: all 0.3s ease;
			&:hover {
				transform: scale(1.1);
				box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 0px 0px;
			}
		}
	}
}

.sideMenu.active {
	right: 0;
}
