.navbar {
	z-index: 1000000;
	width: 100%;
	background-color: white;
	height: 80px;
	position: fixed;
	box-shadow: rgba(158, 158, 158, 0.35) 0px 5px 15px;
	color: rgb(58, 58, 58);
	display: flex;
	align-items: center;
	justify-content: space-between;
	.logo {
		cursor: pointer;
		padding: 0px 20px;
		h1 {
			font-size: 28px;
		}
	}
	.menu {
		display: flex;
		align-items: center;
		gap: 10px;
		.text {
			font-size: 22px;
		}
		.balance {
			color: rgb(0, 255, 115);
			font-size: 28px;
		}
		.icon {
			font-size: 32px;
			margin: 0px 10px;
			cursor: pointer;
		}
	}
}
