.TransactionTable {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2px 10px;
	padding-top: 10px;
	/*
		COIN ROW
	*/
	.row {
		display: flex;
		display: grid;
		grid-template-columns: 3fr 1fr 1fr 2fr 2fr 2fr 3fr;
		border-top: 2px solid rgb(66, 66, 66);
		padding: 20px 5px;
		cursor: pointer;
		transition: background-color 1s ease;
		&:first-child {
			border-top: none;
		}
		&:hover {
			background-color: black;
		}

		.coinSign {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.positive {
			color: rgb(91, 255, 132);
		}
		.negative {
			color: red;
		}
	}

	.popDown.active {
		display: flex;
	}
}
